<!-- bid-package-dialog.component.html -->
<h2 mat-dialog-title>Bid Package Dialog</h2>
<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <!-- Render the dynamic form controls using the DynamicFormControlComponent -->
        <app-dynamic-form-control *ngFor="let control of controls" [form]="dynamicForm"
            [control]="control" [controls]="controls"></app-dynamic-form-control>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="submit">Submit</button>
        <button mat-button (click)="dialogRef.close()">Cancel</button>
    </div>
</form>